* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

img {
    max-width: 100%;
}

nav {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 9;
    backdrop-filter: blur(1rem);
}

nav .brand a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    color: #888888;
    text-decoration: none;
    ;
}

nav ul li a:hover {
    color: #FFFFFF;
}

nav ul li a.active {
    color: #FFFFFF;
}

.search>.search-button {
    background: transparent;
    border: 0;
}

section#hero {
    margin-bottom: 2.2rem;
}

#hero .container {
    position: relative;
}

#hero .section-body .container .hero-image {
    height: 1024px;
    background: url("../img/pexels-donaldtong94-23475.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.hero-image .filter {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, black, transparent);
}

.hero-copytext {
    color: #FFFFFF;
    width: calc(100%);
    padding: 0 1rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.hero-minicopy {
    color: #FFFFFF;
    display: flex;
    gap: 4rem;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.minicopy {
    border-right: 1px solid #FFFFFF;
}

.minicopy a {
    text-decoration: none;
    color: #888888;
    font-weight: 700;
}

.minicopy a:hover {
    color: #FFFFFF;
}

.hero-bottom-indicator {
    width: 100%;
    height: 4px;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
}

.hero-bottom-indicator span {
    background: #888888;
    flex-grow: 1;
}

.hero-bottom-indicator span:hover {
    background: #FFFFFF;
    flex-grow: 1;
    cursor: pointer;
}

.hero-bottom-indicator span.active {
    background: #FFFFFF;
    flex-grow: 1;
}

section#product {
    .section-header {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .section-body {
        .product-container {
            margin: 1rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;

            .product-card {
                width: 300px;
                height: 400px;
                position: relative;
                border-radius: 6px;
                overflow: hidden;

                .card-header {
                    img {
                        height: 400px;
                    }
                }

                .card-body {
                    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.4));
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    color: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    gap: 1rem;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
    }
    
    section#product {
        .section-body {
            .product-container {
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        flex-direction: column;
    }
    
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }
    section#product {
        .section-body {
            .product-container {
                flex-direction: column;
            }
        }
    }
}