* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

nav {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    backdrop-filter: blur(1rem);
}

nav .brand a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    color: #AAAAAA;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.search>.search-button{
    background: transparent;
    border: 0;
}


@media (max-width: 768px) {
    nav{
        flex-direction: row;
    }
    nav ul{
        flex-direction: row;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        gap: 1rem;
    }
}